<?xml version="1.0" encoding="utf-8"?>
<settings>
  <!-- BRIDGE SETTINGS -->
  <category label="32100">
    <setting label="32101" type="action" action="RunScript(script.service.mookfist-milights, scan)" />
    <setting label="32102" type="bool" id="enable_manual_bridge" default="false" />
    <setting label="32103" type="text" id="bridge_ip" enable="eq(-1,true)"/>
    <setting label="32104" type="number" id="bridge_port" enable="eq(-2,true)" />
    <setting label="32105" type="select" id="bridge_version" lvalues="32106|32107|32108" default="1" enable="eq(-3,true)" />
  </category>

  <!-- GROUP 1 SETTINGS -->
  <category label="32405">
    <setting label="32401" type="bool" id="enable_group1" default="true" />
    <setting type="sep"/>
    <setting label="32206" type="action" action="RunScript(script.service.mookfist-milights, set_to_white, group=1)" enable="eq(-2,true)"/>
    <setting label="32203" type="action" action="RunScript(script.service.mookfist-milights, colorpicker, group=1) " enable="eq(-3,true)"/>
    <setting label="32204" type="number" id="group1_brightness" default="100" enable="eq(-4,true)" />
    <setting label="32205" type="text" id="group1_color_value" enable="false" />
    <setting type="sep" />
    <setting label="32604" type="select" id="group1_fade_speed" lvalues="32601|32602|32603|32604" enable="eq(-7,true)" default="1"/>
  </category>

  <!-- GROUP 2 SETTINGS -->
  <category label="32406">
    <setting label="32402" type="bool" id="enable_group2" default="false" />
    <setting type="sep" />
    <setting label="32206" type="action" action="RunScript(script.service.mookfist-milights, set_to_white, group=2)" enable="eq(-2,true)"/>
    <setting label="32203" type="action" action="RunScript(script.service.mookfist-milights, colorpicker, group=2)" enable="eq(-3,true)" />
    <setting label="32204" type="number" id="group2_brightness" default="100" enable="eq(-4,true)" />
    <setting label="32205" type="text" id="group2_color_value" enable="false" />
    <setting type="sep" />
    <setting label="32604" type="select" id="group2_fade_speed" lvalues="32601|32602|32603|32604" enable="eq(-7,true)" default="1"/>
  </category>

  <!-- GROUP 3 SETTINGS -->
  <category label="32407">
    <setting label="32403" type="bool" id="enable_group3" default="false" />
    <setting type="sep" />
    <setting label="32206" type="action" action="RunScript(script.service.mookfist-milights, set_to_white, group=3)" enable="eq(-2,true)"/>
    <setting label="32203" type="action" action="RunScript(script.service.mookfist-milights, colorpicker, group=3)" enable="eq(-3,true)" />
    <setting label="32204" type="number" id="group3_brightness" default="100" enable="eq(-4,true)" />
    <setting label="32205" type="text" id="group3_color_value" enable="false" />
    <setting type="sep" />
    <setting label="32604" type="select" id="group3_fade_speed" lvalues="32601|32602|32603|32604" enable="eq(-7,true)" default="1"/>
  </category>

  <!-- GROUP 4 SETTINGS -->
  <category label="32408">
    <setting label="32404" type="bool" id="enable_group4" default="false" />
    <setting type="sep" />
    <setting label="32206" type="action" action="RunScript(script.service.mookfist-milights, set_to_white, group=4)" enable="eq(-2,true)"/>
    <setting label="32203" type="action" action="RunScript(script.service.mookfist-milights, colorpicker, group=4)" enable="eq(-3,true)" />
    <setting label="32204" type="number" id="group4_brightness" default="100" enable="eq(-4,true)" />
    <setting label="32205" type="text" id="group4_color_value" enable="false" />
    <setting type="sep" />
    <setting label="32604" type="select" id="group4_fade_speed" lvalues="32601|32602|32603|32604" enable="eq(-7,true)" default="1"/>
  </category>

  <!-- TEST ACTIONS -->
  <category label="32300">
    <setting label="32301" type="action" action="RunScript(script.service.mookfist-milights, fade_outin, group=all)" />
    <setting label="32303" type="action" action="RunScript(script.service.mookfist-milights, fade_outin, group=1)" />
    <setting label="32304" type="action" action="RunScript(script.service.mookfist-milights, fade_outin, group=2)" />
    <setting label="32305" type="action" action="RunScript(script.service.mookfist-milights, fade_outin, group=3)" />
    <setting label="32306" type="action" action="RunScript(script.service.mookfist-milights, fade_outin, group=4)" />
    <setting type="sep" />
    <setting label="32307" type="action" action="RunScript(script.service.mookfist-milights, white, group=all)" />
    <setting label="32308" type="action" action="RunScript(script.service.mookfist-milights, white, group=1" />
    <setting label="32309" type="action" action="RunScript(script.service.mookfist-milights, white, group=2" />
    <setting label="32310" type="action" action="RunScript(script.service.mookfist-milights, white, group=3" />
    <setting label="32311" type="action" action="RunScript(script.service.mookfist-milights, white, group=4" />

  </category>

  <!-- TWEAKING -->
  <category label="32500">
    <setting label="32504" type="bool" id="autoplay_tv" default="false" />
    <setting label="32505" type="bool" id="autoplay_movie" default="false" />
    <setting type="lsep" label="32503"/>
    <setting label="32501" type="number" id="repeat_count" default="1" />
    <setting label="32502" type="number" id="pause" default="100" />
    <setting type="lsep" label="32600" />
    <setting label="32601" type="number" id="slow_speed_interval" default="1"/>
    <setting label="32602" type="number" id="medium_speed_interval" default="5" />
    <setting label="32603" type="number" id="fast_speed_interval" default="10" />
  </category>

  <!--
    <setting type="sep" />
    <setting label="30020" type="bool" id="enable_group1" default="true" />
    <setting label="30021" type="bool" id="enable_group2" default="false" />
    <setting label="30022" type="bool" id="enable_group3" default="false" />
    <setting label="30023" type="bool" id="enable_group4" default="false" />
  </category>
  <category label="30018">
    <setting type="sep"/>
    <setting label="30012" type="bool" id="global_set_brightness_at_start" />

    <setting label="30014" type="select" id="global_fade_speed" lvalues="30015|30016|30017|30019" default="1" />
    <setting label="30013" type="number" id="global_max_brightness" default="100" />
    <setting label="30004" type="number" id="global_min_brightness" default="0" />
    <setting label="30013" type="slider" id="global_max_brightness" range="0,1,100" default="100" option="int" />
    <setting label="30004" type="slider" id="global_min_brightness" range="0,1,100" default="10" option="int" />
    <setting type="sep"/>
    <setting label="30008" type="bool" id="global_enable_color" />
    <setting label="30009" visible="eq(-1,true)" type="number" id="global_red_value" />
    <setting label="30010" visible="eq(-2,true)" type="number" id="global_green_value" />
    <setting label="30011" visible="eq(-3,true)" type="number" id="global_blue_value" />
    <setting label="30009" visible="eq(-1,true)" type="slider" id="global_red_value" range="0,1,255" default="255" option="int" />
    <setting label="30010" visible="eq(-2,true)" type="slider" id="global_green_value" range="0,1,255" default="255" option="int"/>
    <setting label="30011" visible="eq(-3,true)" type="slider" id="global_blue_value" range="0,1,255" default="255" option="int"/>
    <setting type="lsep" label="Pause Settings" />
    <setting label="30030" type="bool" id="global_enable_pause_speed" default="false" />
    <setting label="30014" type="select" id="global_pause_fade_speed" lvalues="30015|30016|30017|30019" default="1" />
    <setting label="30031" type="slider" id="global_pause_delay" range="0,1,10" default="0" option="int" />

  </category>

  <category label="30034">
    <setting label="30035" type="action" action="RunScript(special://home/addons/script.service.mookfist-milights/cmd.py, fade_out)"/>
    <setting label="30036" type="action" action="RunScript(special://home/addons/script.service.mookfist-milights/cmd.py, fade_in)" />
  </category>

  <category label="30005">
    <setting label="30007" type="bool" id="movie_enabled" />
  </category>
  <category label="30006">
    <setting label="30007" type="bool" id="tv_enabled" />
  </category>
-->
</settings>
