<?xml version="1.0" encoding="utf-8"?>
<settings>
  <category label="30000">
    <setting label="30001" type="text" id="light_host" default="192.168.1.167:8899" />
    <setting label="30002" type="number" id="light_group" default="0" />
    <setting label="30003" type="slider" id="min_brightness" default="10" range="0,100" />
  </category>
</settings>
