<?xml version="1.0" encoding="utf-8"?>
<settings>
  <category label="30000">
    <setting label="30001" type="text" id="url" default="http://localhost:8080" />
    <setting label="30002" type="text" id="username" default="admin" />
    <setting label="30003" type="text" id="password" default="secret" />
  </category>
</settings>
